@import url('https://fonts.googleapis.com');

.header{
    width:1276px;
    height:64px;
    padding: 12px 0px 12px 0px;
    align-items: center;
    display: flex;
    justify-content: center; 
    gap: 50px;
    
}

.hero{
    width:1440px;
    height:524px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 60px 8px 60px 8px;
    gap: 12px;
    border: 1px solid red;
    background-color: #FF4646;
    display: flex;             
       
    align-items: center;       
    position: relative;        
    overflow: hidden;          
}

.hero img {
    display: flex;
    max-height: 100%;          
    object-fit: contain; 
    justify-content: center;
}

.af{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 426px;
    height: 404px;
    padding: 60px 0px 60px 0px;
    gap: 12px;

}

.cd{
font-family: 'Allura', cursive;
font-weight: 400;
font-style: normal;
font-size: 20px;
line-height: 1; 
letter-spacing: 0.05em; 
text-align: center;
}

